﻿@model Currency.DL.Valute

@{
    ViewBag.Title = "Выбрать валюту";
    Layout = "_Layout";
}

<head></head>
<body>
<header><h2>@Model.CharCode</h2></header>
<main>
    <table class="table">
        <tr>
            <th>Название валюты</th><th>Цифровой код</th><th>Алфавитный код</th><th>Номинал</th>
            <th>Значение</th><th>Предыдущие значение</th>
        </tr>
        <tr>
            <td>@Model.Name</td><td>@Model.NumCode</td><td>@Model.CharCode</td><td>@Model.Nominal</td>
            <td>@Model.Value</td><td>@Model.Previous</td>
        </tr>
    </table>
</main>
<footer></footer>
</body>