﻿@model src.Views.Valute.GetAllViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<!DOCTYPE html>
<style>
         @@font-face {
             font-family: 'FontAwesome';
             src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), 
             url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), 
             url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
             font-weight: normal;
             font-style: normal
         }
  
         .glyphicon {
             display: inline-block;
             font: normal normal normal 14px/1 FontAwesome;
             font-size: inherit;
             text-rendering: auto;
             -webkit-font-smoothing: antialiased;
             -moz-osx-font-smoothing: grayscale
         }
  
         .glyphicon-chevron-right:before {
             content: "\f054";
         }
  
         .glyphicon-chevron-left:before {
             content: "\f053";
         }
     </style>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Список валют</title>
</head>
<h1>Cписок валют</h1>
<body>
<div>
    <table class="table">
        <tr>
            <th>Название валюты</th><th>Цифровой код</th><th>Алфавитный код</th><th>Номинал</th>
            <th>Значение</th><th>Предыдущие значение</th>
        </tr>
        @foreach (var item in Model.Valutes)
        {
            <tr>
                <td>@item.Value.Name</td><td>@item.Value.NumCode</td><td>@item.Value.CharCode</td><td>@item.Value.Nominal</td>
                <td>@item.Value.Value</td><td>@item.Value.Previous</td>
            </tr>
        }
    </table>
</div>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="GetAll"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="GetAll"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
</body>
</html>