﻿@model GetIndexModel
@{
    ViewData["Title"] = "Курс валюты";
}

<head><h2>Список валют</h2></head>
<body>
<header></header>
<main><form asp-controller="Valute" asp-action="Get" method="Get">
          <select name="key">
              @foreach (var item in Model.Valutes)
              {
                  <option value="@item.Key">@item.Value.Name</option>
              }
          </select>
          <input type="submit" value="Искать" class="btn btn-primary"/>
      </form>
</main>
<footer>
</footer>
</body>
